* {
    margin: 0px; 
 }

 body {
     background-color: rgb(27, 27, 139);
 }

 .bar-title{
     text-align: center;
     padding: 10px;
     margin-bottom: 50px;
     color: white;
     background-color: rgb(27, 158, 219);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 .player-options img,
 .enemy-options img
 {
     width: 120px;
     opacity: 0.3;
     transition: 0.2s;
 }

 .player-options img
 {
     cursor: pointer;
 }

 .player-options img:hover{            
     opacity: 0.6;
 }

 .player-options, .enemy-options{
     width: 50%;
     text-align: center;
 }

 .align{
     display: flex;            
 }

 .panel-player,
 .panel-enemy
 {
     width: 200px;
     margin: auto;
     padding: 25px 0;
     border-radius: 0 0 50px 50px;
 }

 .panel-enemy, .panel-player{
     border-left: solid 5px white;
     border-right: solid 5px white;
     background-color: darkgray;
 }

 .bar-Player,
 .bar-enemy{
     width: 200px;
     margin: auto;
     border-radius: 50px 50px 0 0;
 }

 .bar-Player{
     padding: 25px 0;
     background-color: white;
     border-top: solid 5px white;
     border-left: solid 5px white;
     border-right: solid 5px white;
     color: rgb(27, 27, 139);
     font-size: 25px;
     font-family: fantasy;
 }

 .bar-enemy{
     padding: 40px 0;
     background-image: url("Imagens/inimigo_espera.png");
     background-color: white;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     border-top: solid 5px white;
     border-left: solid 5px white;
     border-right: solid 5px white;
 }

 .bar-enemy:hover{
     background-image: url("Imagens/inimigo_hover.png");
 }

 .vs{
     position: absolute;
     top: 45%;
     left: 45%;
     color: white;
     font-size: 30px;
 }